@model Project.Models.Fare

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Add Fare";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
    <!-- Main -->
    <div id="main" class="wrapper style1">
        <div class="container">
            <div class="row 150%">
                <div class="4u 12u$(medium)">

                    <!-- Sidebar -->
                    <section id="sidebar">
                        <section style="padding:0px"></section>
                    </section>

                </div>
                <div class="8u 12u$(medium) important(medium)" id="tablediv">

                    <!-- Content -->
                    <section id="content">
                        <section style="padding:50px">

                            <div>
                                @using (Html.BeginForm())
                                {
                                    <table>
                                        <tr id="display">
                                            @Html.ValidationMessageFor(m => m.Id)
                                            @{
                                                if(ViewBag.PKError != null)
                                                {
                                                    @ViewBag.PKError.ToString()
                                                }
                                            }
                                            <td>@Html.LabelFor(m => m.Id)</td>
                                            <td><div>@Html.TextBoxFor(m => m.Id)</div></td>
                                        </tr>
                                        <tr>
                                            @Html.ValidationMessageFor(m => m.Departure_Name)
                                            <td>@Html.LabelFor(m => m.Departure_Name)</td>
                                            <td id="display1">@Html.TextBoxFor(m => m.Departure_Name)</td>
                                        </tr>
                                        <tr>
                                            @Html.ValidationMessageFor(m => m.Arrival_Name)
                                            <td>@Html.LabelFor(m => m.Arrival_Name)</td>
                                            <td id="display2">@Html.TextBoxFor(m => m.Arrival_Name)</td>
                                        </tr>
                                        <tr>
                                            @Html.ValidationMessageFor(m => m.Luxury_Fare)
                                            <td>@Html.LabelFor(m => m.Luxury_Fare)</td>
                                            <td id="edit3" style="font-size:13px">@Html.TextBoxFor(m => m.Luxury_Fare)</td>
                                        </tr>
                                        <tr>
                                            @Html.ValidationMessageFor(m => m.Business_Fare)
                                            <td>@Html.LabelFor(m => m.Business_Fare)</td>
                                            <td id="edit4" style="font-size:13px">@Html.TextBoxFor(m => m.Business_Fare)</td>
                                        </tr>
                                    </table>
                                    <center>
                                            <input type="submit" id="savebtn" value="Save" class="button special" />
                                    </center>
                                }
                            </div>
                        </section>
                    </section>

                </div>
            </div>
        </div>
    </div>


</body>