@using Project.Models
@model List<Fare>
@{Session["url"] = Request.UrlReferrer;}
<!DOCTYPE HTML>
<html>
	<body style="margin-top: 150px">

            <form action="/Home/Fares/2" method="post">
                <div style="width: 60%; float:left; padding: 40px;">
                    <select name="select" id="select" style="width:700px;background-color: whitesmoke;color:black;">
                        <option value="" disabled selected hidden>Select Departure</option>
                        <option value="lahore">Lahore</option>
                        <option value="karachi">Karachi</option>
                        <option value="islamabad">Islamabad</option>
                        <option value="bahawalpur">Bahawalpur</option>
                    </select>
                    <br />
                    @{
                        if(Session["error"] != null)
                        {
                            <div style="color: #ff006e; font-size:20px;">@Session["error"].ToString()</div>
                        }
                    }
                </div>
                <div style="width: 10%; float:left; padding: 45px">
                    <input type="submit" class="button special" value="Check Fare" />
                </div>
            </form>
            <div style="width: 30%; float:right; padding: 40px">
            </div>
            
          @{
            
            if (Session["display"] != null)
            {
                <div id="TableDiv" style="padding: 20px;">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <th>Departure Name</th>
                        <th>Arrival Name</th>
                        <th>Luxury Fare</th>
                        <th>Business Fare</th>

                        @foreach (var m in Model)
                        {

                            <tr>
                                <td>@m.Departure_Name</td>
                                <td>@m.Arrival_Name</td>
                                <td>@m.Luxury_Fare</td>
                                <td>@m.Business_Fare</td>
                            </tr>


                        }
                    </table>
                </div>
            }
              Session["display"] = null;
        }
	</body>
</html>